API_PORT = 3000
ENV = "dev"

DB_HOST = "localhost"
DB_NAME = "ms_classes_db"
DB_USER = "root"
DB_PASSWORD = ""
DATABASE_URL =  "mysql://root@localhost:3306/ms_classes_db"
# Cấu trúc của DATABASE_URL:
# mysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}

# KEY
JWT_ACCESS_TOKEN_SECRET = "<generated_key>"
JWT_REFRESH_TOKEN_SECRET = "<generated_key_2>"
JWT_ACCESS_TOKEN_DURATION = "1h"

# MICROSOFT GRAPH OAUTH
OAUTH_CLIENT_ID=e2c44ec0-bc10-45c0-8cd6-df8c2f13095e
OAUTH_CLIENT_SECRET=klA8Q~U_dLFanqiK.9hWjgpAyrJbubEOFGY~yb7x
OAUTH_TENANT_ID="14023041-8cc1-4534-9fd3-ac86767a25a0"
OAUTH_REDIRECT_URI=https://1042-14-191-33-53.ngrok-free.app/api/msteam/callback
OAUTH_SCOPES="Calendars.ReadWrite User.Read Team.Create Team.ReadBasic.All offline_access openid TeamMember.ReadWrite.All Channel.Create ChannelMessage.Send OnlineMeetings.ReadWrite Group.ReadWrite.All" 
OAUTH_AUTHORITY=https://login.microsoftonline.com/common/
GRAPH_API_BASE_URL=https://graph.microsoft.com/v1.0